{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <h1 class="heading1"> profil </h1>
    <img class="loginLogo" src="{{ asset('/assets/image/loginLogo.png')}}">
    <h2 class="heading1">Username: {{ app.user.username }}</h2>
    <a href="{{ path('app_logout') }}"><input type="submit" name="submit" value="Log out"></a>
    <tbody>


    <h1 class="heading1">purchase history</h1>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>


        {% for transaction in transactions %}
            <tr>
                <td><img src="{{ asset(transaction.car.image) }}" alt="car_image" class="CartItmage"></td>
                <td><h2 class="heading1"> {{ transaction.car.make }}</h2></td>
                <td><h2 class="heading1"> {{ transaction.car.model }}</h2></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
