{% extends 'base.html.twig' %}

{% block title %}sells{% endblock %}

{% block body %}
    <h1 class="heading1">Sells</h1>

    {% for transaction in transactions %}
        <h3>{{ moths[transaction[0].date|date('m')] }}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>CardName</th>
                    <th>Buyer</th>
                    <th>Car</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for trans in transaction %}
                    <tr>
                        <td>{{ trans.cardName }}</td>
                        <td>{{ trans.buyer.username }}</td>
                        <td>{{ trans.car.make }} {{ trans.car.model }}</td>
                        <td>{{ trans.car.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Total: {{ mothSell[transaction[0].date|date('m')] }}</h3>
        <br>
        <br>

    {% else %}
    <tr>
        <td colspan="5">no records found</td>
    </tr>
    {% endfor %}
    <br>
    <h1 class="heading1">Overall Total</h1>
    <h1 class="heading1">{{ total }}</h1>
{% endblock %}
