{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1 class="heading1">Cars</h1>
        {% for car in cars %}
            <div class="flex-container">
                <a href="{{ path('app_car_show', {'id': car.id}) }}">
                    <div>
                        <img src="{{ asset(car.image)}}" alt="car_image" class="CarImage">
                        <h2 class="heading1">Make: {{ car.make }}</h2>
                        <h2 class="heading1"> Model: {{ car.model }}</h2>
                </div>
                </a>
            </div>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_car_new') }}">Create new</a>
{% endblock %}
